/* Fonts */
@font-face {
    font-family: "Poppins-Light";
    src: url("assets/font/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("assets/font/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("assets/font/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("assets/font/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

.light {
    font-family: "Poppins-Light", sans-serif;
    font-size: 11pt;
    color: gray;
}

.medium {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 15pt;
}

.semibold {
    font-family: "Poppins-SemiBold", sans-serif;
}

/* Global */
body {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14pt;
    margin: 0;
}

button, a, div#logos > img {
    cursor: pointer;
}

section {
    margin: 150px auto;
}

*:not(.hoverable-visible) > a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 200%;
    line-height: 100%;
    margin-bottom: 75px;
}

ul {
    list-style: none;
    padding: 0;
}

#burger {
    border: none;
    background: transparent;
}

.hoverable {
    position: relative;
    cursor: pointer;
}

.hoverable p {
    margin: 0;
}

.hoverable .hoverable-visible,
.hoverable .hoverable-hidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    transition: .5s ease;
}

.hoverable .hoverable-visible {
    height: min-content;
    color: white;
    top: auto;
    bottom: 0;
}

.hoverable .hoverable-hidden {
    opacity: 0;
    background-color: rgb(206, 224, 2, .75);
}

.hoverable a {
    font-weight: bold;
}

.hoverable:hover .hoverable-visible {
    opacity: 0;
}

.hoverable:hover .hoverable-hidden {
    opacity: 1;
}

/* Navbar */
nav {
    top: 0;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    padding: 25px 50px;
    box-sizing: border-box;
    box-shadow: 0 5px 50px 0 rgba(210, 210, 210, 0.5);
    margin-bottom: 25px;
    overflow: hidden;
    z-index: 10;
}

nav div {
    display: inline-block;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

a.logo > div > p {
    margin: 0;
}

a.logo > div > p:first-child {
    font-size: x-large;
}

a.logo > div > p:last-child {
    margin-top: -10px;
}

nav > ul, footer ul:last-child {
    margin: 0;
    display: flex;
    float: right;
    align-items: center;
    line-height: 45px;
}

nav ul li:first-child {
    margin-right: 150px;
    font-size: smaller;
}

nav ul li:first-child > span {
    color: gray;
}

nav > ul img, footer ul:last-child img {
    margin: 0 15px;
    height: 25px;
}

nav > ul li:not(:last-child) img {
    height: 20px;
}

nav > ul li:last-child {
    margin-left: 150px;
}

@media screen and (max-width: 1160px) {
    nav ul li:first-child {
        display: none;
    }

    nav ul li:last-child {
        margin-left: 15px;
    }
}

@media screen and (max-width: 700px) {
    nav {
        padding: 10px 25px;
    }
    
    nav > ul li:not(:last-child) {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    nav {
        padding: 10px 15px;
    }

    #burger > img {
        margin: 0;
    }
}

/* Carousel */
header {
    display: flex;
    justify-content: center;
}

header > img {
    max-width: 90%;
}

header > *:not(:first-child) {
    display: none;
}

/* About */
#about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    max-width: 60%;
}

#about h3 {
    color: #cee002;
    font-size: 90%;
    letter-spacing: 3px;
}

#about #experience {
    margin-top: 200px;
    display: flex;
}

#about #experience p {
    margin: 0;
}

#about #experience p:first-child {
    font-size: 600%;
    margin-left: 65px;
    z-index: 5;
}

#about #experience p:nth-child(2) {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

#about #square {
    width: 175px;
    height: 175px;
    position: absolute;
    border: 5px solid #cee002;
    margin-top: -10px;
}

#about > div > p {
    color: gray;
    font-size: 80%;
}

#about > div:last-child {
    margin-bottom: 100px;
}

#about > div:last-child > #dots-bg-about {
    background: url(assets/images/dots_bg.png);
    position: absolute;
    margin-top: 10em;
    width: 20%;
    height: 60%;
}

#about > div > img {
    float: right;
    position: relative;
    z-index: 5;
    width: 75%;
}

@media screen and (max-width: 990px) {
    #about {
        grid-template-rows: repeat(2, 50%);
        grid-template-columns: none;
    }

    #about > div:last-child {
        margin-top: 100px;
    }
}

/* Latest projects */
#latest-projects > div:first-child,
#latest-projects > div:first-child > ul {
    display: flex;
}

#latest-projects > div:first-child {
    width: 70%;
    margin: 0 auto;
}

#latest-projects > div:first-child ul {
    margin: 0 auto;
    text-align: center;
}

#latest-projects > div:first-child ul li {
    margin: 30px;
    font-weight: bolder;
}

#latest-projects > div:first-child ul li:first-child a {
    color: #cee002;
}

#latest-projects > div:first-child ul li a {
    transition: .25s ease;
}

#latest-projects > div:first-child ul li a:hover {
    color: gray;
}

#latest-projects > div:first-child ul li:last-child {
    margin-left: 50px;
    color: grey;
    font-style: italic;
    font-weight: normal;
}

#latest-projects > div:last-child ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 425px);
    grid-template-rows: 573px;
    gap: 20px;
    overflow-y: hidden;
    max-width: 100%;
    max-height: 573px;
    justify-content: center;
}

#latest-projects > div:last-child ul li {
    align-self: center;
}

@media screen and (max-width: 1400px) {
    #latest-projects > div:first-child {
        display: block;
    }
}

/* Feedbacks */
#feedbacks #dots-bg-feedback {
    background: url(assets/images/dots_bg.png);
    padding: 5rem 0;
    left: 0;
    width: 100%;
}

#feedbacks > div > div {
    max-width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: baseline;
}

#feedbacks > div > div,
#feedbacks > div > div ul,
#feedbacks > div > ul:nth-child(2) li span {
    display: flex;
}

#feedbacks > div > div ul li {
    font-size: xx-large;
    margin: 15px;
    cursor: pointer;
}

#feedbacks > div > div ul li:first-child {
    color: lightgray;
}

#feedbacks > div > div ul li:last-child {
    color: gray;
}

#feedbacks > div > ul:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 570px));
    gap: 50px;
    max-width: 100%;
    justify-content: center;
}

#feedbacks > div > ul:nth-child(2) li {
    padding: 50px;
    background-color: white;
    position: relative;
}

#feedbacks > div > ul:nth-child(2) li img:first-child {
    border-radius: 50%;
}

#feedbacks > div > ul:nth-child(2) li img:nth-child(2) {
    position: absolute;
    top: 100px;
    right: 50px;
}

#feedbacks > div > ul:nth-child(2) li *:not(img) {
    font-size: 75%;
    color: gray;
}

#feedbacks > div > ul:nth-child(2) li span {
    align-items: baseline;
}

#feedbacks > div > ul:nth-child(2) li span h3 {
    color: black;
    font-size: 120%;
    margin: 15px 5px 0 0;
}

#feedbacks > div > ul:last-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: 100px auto 50px auto;
}

#feedbacks > div > ul:last-child li {
    margin: 10px auto;
    opacity: .75;
    transition: .5s ease;
}

#feedbacks > div > ul:last-child li:hover {
    opacity: 1;
}

/* Latest News */
#news > div {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: baseline;
    margin-bottom: 75px;
}

#news > div h1 {
    margin-bottom: 0;
}

#news > div a {
    color: gray;
    float: right;
    transition: .25s ease;
}

#news > div a:hover {
    color: #cee002;
}

#news > ul {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 20px;
    justify-content: center;
    max-width: 100%;
}

#news .hoverable .hoverable-hidden {
    background-color: white;
}

#news > ul li {
    font-size: 70%;
}

#news > ul li p:first-child {
    color: gray;
}

#news > ul li a {
    color: #cee002;
}

@media screen and (max-width: 1200px) {
    #news > ul {
        grid-template-columns: repeat(2, 370px);
    }

    #feedbacks > div > ul:nth-child(2) {
        grid-template-columns: minmax(0, 570px);
    }
}

@media screen and (max-width: 810px) {
    #news > ul {
        grid-template-columns: 370px;
    }
}

/* Footer */

hr {
    max-width: 95%;
    border: none;
    background-color: lightgray;
    height: 1px;
    margin: 100px auto;
}

footer {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(6, 16%);
}

footer > div {
    margin-left: 50px;
}

footer ul:last-child {
    align-items: baseline;
}

footer ul li {
    font-size: smaller;
}

@media screen and (max-width: 1350px) {
    footer ul:last-child {
        display: block;
    }
}

/* Scroll bar & selection */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cee002;
}

::selection {
    background-color: #cee002;
}
