@font-face {
    font-family: "Poppins-Light";
    src: url("assets/font/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("assets/font/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("assets/font/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("assets/font/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

body {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 14pt;
    margin: 0;
}

.light {
    font-family: "Poppins-Light", sans-serif;
    font-size: 11pt;
    color: gray;
}

.medium {
    font-family: "Poppins-Medium", sans-serif;
    font-size: 15pt;
}

.semibold {
    font-family: "Poppins-SemiBold", sans-serif;
}

button, a, div#logos > img {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* Navbar */
nav {
    top: 0;
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    background-color: white;
    padding: 25px 50px;
    box-sizing: border-box;
    box-shadow: 0 5px 50px 0 rgba(210, 210, 210, 0.5);
}

nav div {
    display: inline-block;
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

a#logo > div > p {
    margin: 0;
}

a#logo > div > p:first-child {
    font-size: x-large;
}

a#logo > div > p:last-child {
    margin-top: -10px;
}

#call-us {
    margin-left: 75px;
    font-size: smaller;
}

#call-us > span {
    color: gray;
}

#logos > a > img, #burger > img {
    height: 25px;
    margin: 0 15px;
}

#right {
    float: right;
    line-height: 45px;
}

#burger {
    border: none;
    background: transparent;
}

/* Scroll bar & selection */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #cee002;
}

::selection {
    background-color: #cee002;
}
